.no_scroll {overflow: hidden;}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(7, 36, 46, 0.574);
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.d_none {display: none;}

.overlay_content {
    height:70dvh;
    width: 30dvw;
    border-radius: 12px;
    border: 2px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.overlay_main_info {
    height: 50%;
    background-color:rgb(255, 132, 0);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.content_right {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.content_left {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.overlay_pkm_types {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px;
}

.overlay_pkm_types img {height: 25px;}
.overlay_logo {width: 120px;}

.overlay_main_image {
    height: 180px;
    object-fit: contain;
}

.overlay_header {
    font-family: Jersey_15;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.pkmn_name {
    font-size: 46px;
    padding-right: 26px;
}

.pkmn_id {font-size: 24px;}

.overlay_menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 45px;
    font-size: 22px;
}

.menu_tab {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    align-items: center;
}

.menu_tab:hover {cursor: pointer;}

.underline {
    height: 6px;
    width: 100%;
    background-color: white;
}
.main_tab:hover .u1 {background-color: red;}

.stats_tab:hover .u2 {background-color: red;}

.evochain_tab:hover .u3 {background-color: red;}

.overlay_menu table {
    height: 100%;
    font-size: 18px;
}

.main_tab {font-size: 22px; padding: 18px;}

table {border-spacing: 8px;}